/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Karla", sans-serif;
   background: #011735;
   position: relative;
}
body::before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(./img/clouds.png) ;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#quiz-content .quiz-item {
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.quiz-flex {
  padding: 80px 20px 80px;
  background: #fff;
  max-width: 900px;
  width: 90%;
  gap: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid; 
  grid-template-columns: auto 300px;
  position: relative;
  box-shadow: 0 4px 20px #000;
}
.line_nums{
  position: absolute;
  bottom: 10px;
  width: 96%;
  height: 4px;
  box-sizing: border-box;
  background: #9f9f9f;
}
.last_nums{
  position: absolute;
  right: 20px;
  top: 10px;
  color: forestgreen;
  font-weight: 600;
  font-size: 18px;
}
.flex-block>div:first-child{
  width: 100%;
}
.progres_item{ 
  width: 50px;
  background:#024fa0;
  padding: 5px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  z-index: 2;
  position: relative;
  box-sizing: border-box;
}
#quiz-item-2 .progres_item{
  width: 14%;
}
#quiz-item-3 .progres_item{
  width: 28%;
}
#quiz-item-4 .progres_item{
  width: 42%;
}
#quiz-item-5 .progres_item{
  width: 56%;
}
#quiz-item-6 .progres_item{
  width: 70%;
}
#quiz-item-7 .progres_item{
  width: 85%;
}
.header-quiz {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
}
.header-quiz{
  padding: 6px 20px;
  box-sizing: border-box;
  background: #013682;
}
.logo-item img {
  max-width: 200px;
  display: block;
}
.flex-rigth {
  width: 300px;
  height: calc(100% - 62px);
  border-radius: 20px;
  overflow: hidden;
}
.flex-rigth img {
  max-width: 2000px;
  max-height: 2000px;
  height: 100%;
  width: 100%;
  display: block;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.quiz-container {
  /* max-width: 500px;
    padding: 20px; */
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.quiz-container::before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(132deg, rgb(0 0 0 / 41%) 11%, rgb(4 36 101 / 47%) 43%, rgba(0, 0, 0, 0.8688068977591037) 106%);

  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.loader{
  max-width: 600px;
  padding: 40px;
  box-sizing: border-box;
  background: #ffffffa0;
}
.loader>p{
  font-size: 30px;
  text-align: center;
  line-height: 1.3;
  font-weight: 600;
  margin: 30px 0 0 ;
}
#progress {
  width: 100%;
  height: 26px;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

#progress-bar {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, rgba(40,255,47,1) 0%, rgba(6,162,32,1) 35%, rgba(0,108,51,1) 100%);
  transition: width 0.2s ease-in-out;

}
.progress_container{
  position: relative;
}
#progress-percent {
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  font-weight: bold; 
  color: #02244a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#quiz-start .container { 
  width: 80%;
  margin: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content; 
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.quiz-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
#quiz-start video {
  position: absolute;
  top: 0;
  left: 0;
  height: 130%;
  display: block;
}

.quiz-options button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f0f0f0;
}
.quiz-options button:hover {
  background-color: #e0e0e0;
}
.quiz-explanation {
  display: none;
  color: #ffffff;
  background-color: #020202b7;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 22px;
  line-height: 1.4;
  border: 1px solid #ddd;
}
.start-btn,
.next-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
}
.start-btn:hover,
.next-btn:hover {
  background-color: #0056b3;
}
.container {
  position: relative;
  z-index: 3;
}
h1 {
  font-size: 50px;
  font-weight: 600;
  color: #ffffffdb;
  line-height: 1.2; 
  margin: 0 0 20px;
  text-align: left;
  padding: 10px 0 10px 20px;
  border-left: 3px solid #046fe2;
  background: linear-gradient(132deg, rgb(31 37 44 / 30%) 11%, rgb(16 31 61 / 0%) 43%, rgb(0 0 0 / 0%) 106%);
}
.logo {
  position: relative;
  z-index: 2;
  max-width: 200px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.contain_header{
  padding: 30px;
  background: #001f3f7b;
}
.logo img {
  display: block;
  width: 100%;
}
.action_block{
  color: #70b0f3;
  font-size: 24px;
  font-weight: 600;
}
#quiz-start p {
  font-size: 20px;
  font-weight: 600;
  color: #ffffffdb;
  line-height: 1.4;
  padding: 10px;
  /* background: #0000004b; */
}
.start-btn,
.next-btn,
form button {
  background: linear-gradient(
    329deg,
    rgb(1, 106, 24) 14%,
    rgba(9, 157, 39, 0.955) 52%
  );
  background-size: 200% 200%;
  font-weight: 600;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s linear;
  animation: gradient-animation 3s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}
.start-btn{
    margin: 30px auto 0;
    font-size: 20px;
    color: #e6e3e3;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.start-btn:after{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url(./img/one-finger-tap-gesture-of-outlined-hand-symbol_icon-icons.com_57983.svg) no-repeat;
  background-size: contain;
  background-position: center;
}
.start-btn:hover,
.next-btn:hover,
form button:hover {
  background: -o-linear-gradient(
    121deg,
    rgb(0, 70, 15) 14%,
    rgba(3, 114, 25, 0.955) 52%
  );
  background: linear-gradient(
    329deg,
    rgb(0, 70, 15) 14%,
    rgba(3, 114, 25, 0.955) 52%
  );
}
form button {
  padding: 14px;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.quiz-question {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.3;
  margin: 10px 0 20px;
}
.quiz-options label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  padding: 10px;
  color: #fff;
  margin: 0 0 10px;
  background: linear-gradient(90deg, rgba(37, 126, 216, 0.942) 0%, rgba(5,58,163,0.8744091386554622) 35%, rgba(5,72,170,0.8688068977591037) 100%);

  border-radius: 8px;
  position: relative;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(23, 102, 249, 0.955);
}
.quiz-options span {
  font-weight: 600;
  line-height: 1.2; 
} 
.custom-radio {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #489e02;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  position: absolute;
  left: 10px;
  background: #ffffff;
  top: 10px;
}
.quiz-options input {
  opacity: 0;
}
.custom-radio::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #489e02;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.line_prodress{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  width: 100%;
}
.flex-block{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding:10px 20px;
  box-sizing: border-box;
}

input[type="radio"]:checked + .custom-radio::after {
  opacity: 1;
}
.flex-rigth {
  position: relative;
}
.flex-rigth .quiz-explanation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.next-btn:disabled {
  opacity: 0.5;
}
.form-container {
  max-width: 800px; 
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffffa0;
  -webkit-box-shadow: 0 2px 5px #000;
          box-shadow: 0 2px 5px #000;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto 400px; 
}
div.left_form{
  background: #0056b3;
  padding: 20px;
}
.left_form .action_block{
  text-align: center;
  color: #0eb003;
  font-weight: 800;
}
.action_block>span{
  color: #0eb003;
}
.left_form .action_block>span{
  display: block;
  margin-top: 10px;
}
.form-container>div{
  padding: 30px;
}
.form-container h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  line-height: 1.3;
  margin: 0 0 30px;
}
.rigth_form>p{
  line-height: 1.2;
  margin: 0 0 20px;
}
h2 {
  color: #212121;
}
h2 span {
  color: #0056b3;
}
.form-container h2{
  color: #fff;
}
.form-container form {
  max-width: 360px;
  margin: 0 auto;
}
.form-container form input {
  padding: 12px;
  border-radius: 4px;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 2px 4px #0056b3;
          box-shadow: 0 2px 4px #0056b3;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 10px;
}
.form-container form input::-webkit-input-placeholder {
  color: #1c022c;
  font-size: 16px;
}
.form-container form input::-moz-placeholder {
  color: #1c022c;
  font-size: 16px;
}
.form-container form input:-ms-input-placeholder {
  color: #1c022c;
  font-size: 16px;
}
.form-container form input::-ms-input-placeholder {
  color: #1c022c;
  font-size: 16px;
}
.form-container form input::placeholder {
  color: #1c022c;
  font-size: 16px;
}
.logo-form {
  max-width: 140px;
  margin: 0 auto 20px;
}
.logo-form img {
  display: block;
  width: 100%;
}
.thank-you-container {
  position: relative;
  z-index: 2;
}
.thank-you-container h1{ 
  max-width: 900px;
  margin: 0 auto;
  color: #a7cafb;
}
.mob_video{
  display: none !important;
}
@media screen and (max-width: 992px) {
  .quiz-flex {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .flex-rigth {
    width: 100%;
  }
  .quiz-flex {
    padding-left: 20px;
    padding-right: 20px;
  }
  .form-container{
    grid-template-columns: auto 350px;
  }
}
@media screen and (max-width: 767px) {
  #quiz-content .quiz-item {
    height: 100%;
    min-height: 100vh;
    padding: 10px;
  }

  .quiz-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .logo {
    max-width: 100%;
    padding:5px 20px;
    position: static;
    margin: 0 ;
    background: #013682;
  }
  .quiz-container::before{
    background:linear-gradient(132deg, rgb(0 0 0 / 11%) 11%, rgb(2 9 25 / 27%) 43%, rgb(0 0 0 / 54%) 106%);
  }
  #quiz-start .container{
    width: 100%;
    padding: 0 10px; 
    box-sizing: border-box;
  }
  .contain_header{
    background: transparent;
    padding: 0;
  }
  .action_block{
    text-align: center;
  }
  #quiz-start p{
    color: #212121;
    text-align: left;
    margin: 30px 0;
    font-size: 18px;
  }
  #quiz-start{
    background: #fff;
    padding-bottom: 50px;
  }
  .action_block>span{
    display: block;
    margin-top: 10px;
    color: #0eb003;
  }
  .quiz-container{
    box-sizing: border-box;
  }
  #quiz-start>div:last-child{
    display: flex;
    flex-direction: column-reverse;
  }
  /* #quiz-start video{
    position: static;
    height: auto;
    width: 100%;
  } */
  #quiz-start video{
    height: 100%;
  }
  .logo img{
    max-width: 140px;
    margin: 0 auto;
  }
  .quiz-container {
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-height: 100vh;
  }
  h1 { 
    /* text-align: left; */
    margin: 20px 0 0px;
    color: #ffffff;
    font-size: 26px;
  }
  #quiz-start p { 
    padding: 0;
    color: #ffffff;
    /* text-align: left; */
  }
  .start-btn {
    margin-top: 20px;
    max-width: 350px;
    width: 100%;
  }
  .action_block{
    color: #037dff;
  }
  .next-btn{
    font-size: 18px;
  }
  .quiz-container{
    border-radius: 0;
  }
  .quiz-flex {
    padding-left: 12px;
    padding-right: 12px;
  }
  .next-btn {
    max-width: 190px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px auto 0;
  }
  .quiz-explanation {
    font-size: 18px;
  }
  .form-container h2 {
    font-size: 24px;
    text-align: left;
  }
  .form-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  form button {
    font-size: 18px;
  }
  .thank-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #quiz-content .quiz-item{
    padding: 0;
  }
  .flex-block>div:first-child{
    position: relative;
  }
  .line_nums{
    bottom:0px;
  }
  .flex-rigth{
    margin: 0 0 20px;
    border-radius: 1px;
    height: 200px;
  }
  .flex-rigth img{

  }
  .quiz-options span{
    font-size: 14px;
    font-weight: 500;
  }
  .quiz-question{
    font-size: 20px;
  }
  .loader{
    width: 90%;
    padding: 30px 20px;
  }
  .loader>p{
    font-size: 22px;
  }
  .form-container{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }
  div.left_form{
    padding: 0; 
  }
  .logo-form{
    background: #013682;
    max-width: 100%;
  }
  .logo-form img{
    max-width: 140px;
    margin: 0 auto;
  }
  .form-container h2{
    color: #ffffff;
    padding: 0 20px;
  }
  #quiz-form{
    align-items: flex-start;
  }
  .form-container> .rigth_form{
     padding: 0; 
  }
  .rigth_form>p{ 
    padding: 20px;
    color: #fff; 
  }
  .form-container> .rigth_form form{
    padding: 20px;
  }
  .form-container form input{
    opacity: .8;
  }
  .form-container form input{
    height: 50px;
  }
  .form-container{
    min-height: 100vh;
    border-radius: 0;
  }
  .logo-item img{
    margin: 0 auto;
  }
  #quiz-content .quiz-item{
    align-items: stretch;
  }
  #quiz-item-8{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #quiz-item-8.quiz-item{
    align-items: center;
  }
  #quiz-item-8 .loader{
    height: max-content;
  }
  .thank-container{
    justify-content: start;
  }
  .thank-you-container h1{
    color: #0056b3;
    margin:40px 20px ;
  }
  .thank-you-container p{
    margin: 0 20px 30px !important;
  }
  #quiz-start video{
    display: none;
  }
  .mob_video{
    display: block !important; 
  }
  /* #quiz-start{
    background: url(./img/bg.png) no-repeat;
    background-size: cover;
    background-position: center;
  } 
  .form-container{
    background: url(./img/bg.png) no-repeat;
    background-size: cover;
    background-position: center;
  } */
  .form-container::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(132deg, rgb(0 0 0 / 41%) 11%, rgb(2 9 25 / 58%) 43%, rgb(0 0 0) 106%);
    position: absolute;
    top: 0;
    left: 0;
  }
  div.left_form{
    position: relative;
    z-index: 2;
    background: transparent;
  }
  .form-container> .rigth_form{
    position: relative;
    z-index: 3;
  }
  h1{
    background: linear-gradient(132deg, rgb(134 140 147 / 30%) 11%, rgb(31 62 124 / 54%) 43%, rgb(0 0 0 / 0%) 106%);
  }
}